
/* body{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vw;
    width: 100vw;  
} */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100% */
}

.main-bar{
    /* height: 3%;
    width: 50%; */
    border: 1px solid black;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Julius Sans One;
    /* padding: 6px; */
}

.app-name{
    font-family: Julius Sans One;
    font-size: 16pt;
    display: flex;
    /* width: 100%; */
    height: 30px;
    align-items: center;   
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word-cloud {
    display: flex;
    justify-content: flex-start;
}